
.TestimonialSection{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 80px 0px;
    flex-direction: column;
}
.TestimonialSection h1{
    font-weight: 500;
    font-size: 6vw;
    color: var(--purple);
    /* color: black; */
    margin-bottom: 40px;
}
.TestimonialContainer{
    display: flex;
    width: 80vw;
    text-align: center;
    padding: 20px 0px;
    /* margin-top: 50px; */
}
.Testimonial-img{
    width: 100px;
    height:100px;
    border: 3px solid var(--purple);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto; /* Card ke andar center karne ke liye */
    margin-bottom: 30px;
}
.Testimonial-img img{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.TestimonialContainer h3{
    color: var(--purple);
}
.TestimonialContainer p{
    margin-top: 24px;
    font-size: 1.3vw;
}

/* Responsive-Testimonial  */

@media(max-width:768px){

    .TestimonialContainer p{
        font-size: 1.9vw;
    }   

}
@media(max-width:450px){

    .TestimonialContainer p{
        font-size: 2.6vw;
    }   

}