
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{ 
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;

}
body{
    font-family: "Inter", sans-serif;
    background-color: var(--bgColor) !important;
}
:root{
    --purple: #9D3BC6;
    --bgColor:#F7F7F7;
}
h1, h2, h3, h4 ,.Navbar .nav-link{
      font-family: "Montserrat", sans-serif;
}
